
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Videos</title>
</head>
<body>

<div id="player"></div>

<div class="container">
<%= @video.description %>
<%= @video.thumbnail_url%>

<%= form_for "/videos", method: "get" do  %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>


</body>

</html>
