
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Videos</title>
</head>
<body>

<div id="player"></div>

<div class="container">
<%= @video.description %>
<%= @video.thumbnail_url%>
	<form class= "vidForm">
		<input id = "vidSearch" >
		<button id = "search">Search</button>
	</form>
<!--
<%= form_tag @vidSearch_video_path do %>

  <%= text_field_tag :vidSearch  %>
  <%= submit_tag "get vid" %>
<% end %>
 -->

</div>



</body>

</html>
