<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <% if logged_in? %>
      <h4>Account: <%= @current_user.email %></h4>
    <% end %>

<%= render 'partials/nav1'%>
  <%@stores.each do |store|%>
       <h1><%= store["name"]%></h1>
       <h5><%= store["status"]%></h5>
    <div id = "dogimage"><%= link_to image_tag(store.image, :size => "400x400"), "stores/#{store['id']}"%></div>
  <%end%>
<!-- Buttons -->
<div id = "buttons">
<%@stores.each do |store|%>
<div id = "heartbutton"><%= button_tag link_to image_tag('https://s3.amazonaws.com/piktochartv2-dev/v2/uploads/3db760e7-d87f-4ca8-9298-1f805e6341a3/80ade3dc5ed8407dbafed25c4de4ee3ed026908a_original.png', :id => "heartbutton"), "stores/#{store['id']}" %></div>

<%end%>
<button type="button" id = "xbutton"><%= will_paginate @stores, :page_links => false, :previous => false, :previous_label => '', :next_label => image_tag('https://tindertrash.files.wordpress.com/2015/05/cropped-tinder-nope1.png') %></button>
</div>

<style type="text/css" media="screen">
body{
  background-color: rgb(225, 100, 67);
}
h1, h5{
  text-align: center;
}
h4{
  float: right;
}
#dogimage{
  text-align: center;
}
#buttons{
  text-align: center;
}
#heartbutton button{
  height: 100px;
  width: 100px;
  border: solid 8px black;
  border-radius: 100%;
  background-color: darkred;
}
#heartbutton img{
  height: 80px;
  width:  80px;
  margin:  0 0 0 -4px;
  border-radius: 100%;
}
#xbutton{
  height: 100px;
  width: 100px;
  border: solid 8px black;
  border-radius: 100%;
  background-color: grey;
}
#xbutton img {
  height: 100%;
  width:  100%;
  margin: -15px 0 0 0;
}
</style>
</body>
</html>
