<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
<%= @dog["status"]%><br>
<%= @dog["id"]%>
<%= @dog["name"]%><br>
<img src="<%= @dog["image"]%>"><br>
<% if logged_in? %>
        Hi! <%= @current_user.first_name %>
<%= form_for :pets, method: "post", url: {action: "create", :controller=>"pets", id: {:it => @dog["id"], :it2 => @current_user}} do |f|%>
<%=f.submit "adopt"%>
<%end%>
<%end%>
<br>
<br>
</body>
</html>
