<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <%= @dog["status"]%><br>
  <%= @dog["id"]%>
<%= @dog["name"]%><br>
<img src="<%= @dog["image"]%>"><br>
<%= form_for :store, method: "post", url: {action: "create", :controller=>"pets", :id => @dog["id"]} do |f|%>

<%=f.submit "adot"%>
<%end%>
<br>
<br>
</body>
</html>
