<% provide(:title, @user.first_name,) %> <br><br><br>
<%= render 'partials/nav1'%> <br>
<%= render 'partials/dogs'%><br>
<h1>Welcome <%= @user.first_name%>!</h1>
<br><br>
<div id = "userinfo">
<h3>What would you like to do?</h3>
<p>Name: <%= @user.first_name%> <%= @user.last_name%></p>
<p>Email: <%= @user.email%></p>
<p>Update Account: <%= link_to "Update Account", edit_user_path(current_user)%></p>
<p><%= link_to "Log out", logout_path, method: "delete" %></p><br>
</div>
<br>
<hr>

<%@user.pets.each do |dog|%>
<h1><%=dog[:name]%></h1>
<h3><%= dog[:gender]%></h3>
<div id = "dogimage"><img src="<%=dog.image%>"></div>
<br>
<div id = "giveup"><%= link_to 'Give up', pet_path(dog), data: {:confirm => 'Are you sure?'}, :method => "delete", url: {action: "destroy", :controller => "pets"} %></div>
<br><br>
<%end%>

<style type="text/css" media="screen">
#userinfo{
  text-align: center;
}
#dogimage{
  text-align: center;
}
h1, h3{
  text-align: center;
}
#giveup{
  text-align: center;
}
</style>
